@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 左菜单内容 -->
<aside class="main-sidebar">

    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/Content/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@Session["User"]</p>
                <!-- Status -->
                <a href="/account/lockscreen"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header"></li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="/user/index"><i class="fa fa-dashboard"></i><span>仪表盘</span></a></li>
            <li><a href="/user/info"><i class="fa fa-database"></i> <span>个人资料</span></a></li>
            <li class="active"><a href="/user/calender"><i class="fa fa-calendar"></i><span>日程管理</span></a></li>
            <li class="treeview">
                <a><i class="fa fa-edit"></i> <span>预约场地</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/user/Reservation"><i class="fa fa-th"></i>按时间查找</a></li>
                    <li><a href="/user/Reservation"><i class="fa fa-map-marker"></i>按地点查找</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a><i class="fa fa-send"></i> <span>热门活动</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/user/Hotactivity"><i class="fa fa-circle-o"></i>按时间排列</a></li>
                    <li><a href="/user/Reservationbyearth"><i class="fa fa-circle-o"></i>按地点排列</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a><i class="fa fa-cog"></i> <span>账号中心</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/user/setpassword"><i class="fa fa-circle-o"></i>修改密码</a></li>
                    <li><a href="/account/logoff"><i class="fa fa-outdent"></i>退出</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<iframe src="/frame/calender" frameborder="0" width="100%" height="960px"></iframe>

