@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>热门活动</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/content/js/waterfall.js"></script>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        #main {
            position: relative;
        }

        .pin {
            padding: 15px 0 0 15px;
            float: left;
        }

        .box {
            padding: 10px;
            border: 1px solid #ccc;
            box-shadow: 0 0 6px #ccc;
            border-radius: 5px;
        }

            .box img {
                width: 162px;
                height: auto;
            }
    </style>
</head>
<body>
    <p class="dahao">活动墙</p>
    <hr />
    <div id="main">
        <div class="pin">
            <div class="box">
                <img src="/content/images/1.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/2.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/3.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/4.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/5.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/6.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/7.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/9.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/12.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/13.jpg" />
            </div>
        </div>

        <div class="pin">
            <div class="box">
                <img src="/content/images/1.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/2.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/3.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/4.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/5.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/6.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/7.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/9.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/12.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/13.jpg" />
            </div>
        </div>

        <div class="pin">
            <div class="box">
                <img src="/content/images/1.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/2.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/3.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/4.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/5.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/6.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/7.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/9.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/12.jpg" />
            </div>
        </div>
        <div class="pin">
            <div class="box">
                <img src="/content/images/13.jpg" />
            </div>
        </div>

    </div>
</body>
</html>
