@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>地图</title>
    <style type="text/css">
        body {
            font-size: 13px;
            margin: 0px;
        }
        #container {
            width:80%;
            height: 600px;
            float:left;
        }
    </style> 
    <!--引用百度地图API-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=p2ZHL8xk5fk0Hycy7e9cjlYN"></script>
</head>

<body>
    <!--地图容器-->  
    <div style="margin:5px">
    <input type="text" id="input" size="30" style="width:300px;" />
    <input type="button" onclick="searchMap();" value="搜索" />
    </div>
    <div id="container"></div>
    <div id="results"style="border: 1px; width: 20%; min-height: 600px; left: 80%; float: right"></div>
    <script type="text/javascript">
        //创建和初始化地图函数：
        function initMap() {
            createMap();//创建地图
            setMapEvent();//设置地图事件
            addMapControl();//向地图添加控件
            addMapOverlay();//向地图添加覆盖物
        }
        function createMap() {
            map = new BMap.Map("container");
            map.centerAndZoom(new BMap.Point(116.320965, 39.974709), 18);
        }
        function setMapEvent() {
            map.enableScrollWheelZoom();
            map.enableKeyboard();
            map.enableDragging();
            map.enableDoubleClickZoom()
        }
        function addClickHandler(target, window) {
            target.addEventListener("click", function () {
                target.openInfoWindow(window);
            });
        }
        function addMapOverlay() {
            var marker = [
              { content: "", title: "教学三楼", imageOffset: { width: -46, height: -21 }, position: { lat: 39.974633, lng: 116.319842 } }
            ];
        }
        //向地图添加控件
        function addMapControl() {
            var scaleControl = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
            scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
            map.addControl(scaleControl);
            var navControl = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: 0 });
            map.addControl(navControl);
            var overviewControl = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: false });
            map.addControl(overviewControl);
        }
        function searchMap() {
            var area = document.getElementById("input").value; //得到地区
            var local = new BMap.LocalSearch(map, 
                {renderOptions: { map: map, autoViewport: true, panel: "results" },pageCapacity: 8
            });
            local.search(area);
        }
        var map;
        initMap();
        //var mapStyle = { style: "grayscale" }
        //map.setMapStyle(mapStyle);
        // 百度地图API功能
        function G(id) {
            return document.getElementById(id);
        }
        var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
		{
		    "input": "input",
		    "location": map
		});
        ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
            G("searchResultPanel").innerHTML = str;
        });
        var myValue;
        ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
            myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
            G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

            setPlace();
        });
        function setPlace() {
            map.clearOverlays();    //清除地图上所有覆盖物
            function myFun() {
                var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                map.centerAndZoom(pp, 18);
                map.addOverlay(new BMap.Marker(pp));    //添加标注
            }
            var local = new BMap.LocalSearch(map, { //智能搜索
                onSearchComplete: myFun
            });
            local.search(myValue);
        }
        map.addOverlay(marker);              // 将标注添加到地图中
        marker.addEventListener("click", getAttr);
        function getAttr() {
            var p = marker.getPosition();       //获取marker的位置
            alert("marker的位置是" + p.lng + "," + p.lat);
        }

    </script>
</body>
</html>