@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/content/css/zhuce.css" rel="stylesheet" />
    <link href="~/Content/css/zhuce.css" rel="stylesheet" />
</head>
<body>
    <div class="contact">

        <form name="form1" method="post">
            <ul>
                <li>
                    &nbsp;找回类别:<select name="class1">
                        <option value="student" selected="selected">学生</option>
                        <option value="teachers">教师</option>
                    </select>
                </li>
                <li>
                    <label>账号：</label>
                    <input type="text" name="yourname" placeholder="请输入用户名" />
                </li>
                <li>
                    <label>旧密码：</label>
                    <input type="password" name="oldyourpass" placeholder="请输入旧密码" />
                </li>

                <li>
                    <label>新密码：</label>
                    <input type="password" name="yourpass" placeholder="请输入您的新密码" onblur="checkpsd1()" required /><span class="tips" id="divpassword1">密码必须由字母和数字组成</span>
                </li>
                <li>
                    <label>确认密码：</label>
                    <input type="password" name="yourpass2" placeholder="请再次输入你的新密码" onblur="checkpsd2()" required /><span class="tips" id="divpassword2">两次密码需要相同</span>
                </li>
                <li>
                    <label>电子邮箱：</label>
                    <input type="text" name="youremail" placeholder="请输入你的邮箱" onblur="checkmail()" required /><span class="tips" id="divmail"></span>
                </li>
                <li>
                    <label>电话号码：</label>
                    <input type="text" name="yourtel" placeholder="请输入电话号码" onblur="checktel()" required /><span class="tips" id="divtel"></span>
                </li>
                <li>
                    <label>验证码：</label>
                    <input type="text" id="yourcode" placeholder="请输入验证码" onblur="checkcode()" required /><input type="button" id="code" onclick="createCode()" /><span class="tips" id="divcode"></span>
                </li>
            </ul>
            <b class="btn">
                <input type="submit" value="修改" style="font-family: 黑体; font-size: 18px" />
                <input type="reset" value="取消" style="font-family: 黑体; font-size: 18px" />
            </b>
        </form>

    </div>
</body>
</html>